<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" routerLink="/">FPV Frequency</a>
    <button class="btn btn-info" (click)="showHelp = !showHelp">
      Usage
    </button>
  </nav>
</div>


<div class="fixed-top" style="margin-top: 60px;">
  <div *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="close(alert)" style="margin-bottom: 5px">{{alert.text}}</ngb-alert>
  </div>
</div>

<div class="accordion" [hidden]="showHelp">
  <ngx-spinner></ngx-spinner>

  <div class="card">
    <div class="card-header">
      <span>
        <button (click)="mainAccordion = 'bands'" class="btn btn-link" type="button">
          {{'Bands ' + activeBandsString()}}
        </button>
      </span>
    </div>
    <div [class.collapse]="mainAccordion != 'bands'">
      <div class="card-body">
        <div *ngIf="bands" class="btn-group btn-group-toggle flex-wrap d-flex">
          <label *ngFor="let band of bands" class="btn-secondary w-50" ngbButtonLabel>
            <input [(ngModel)]="band.preselected" ngbButton type="checkbox"> {{ band.description || band.name }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <span class="pull-left">
        <button (click)="mainAccordion = 'pilots'" class="btn btn-link" type="button">
          {{'Pilots (' + pilots.length + ')'}}
        </button>
      </span>
      <span class="pull-right">
        <button (click)="addPilot()" class="btn btn-success">
        <fa name="plus"></fa>
      </button>
      </span>
    </div>
    <div [class.collapse]="mainAccordion != 'pilots'">

      <div *ngIf="pilots" class="container" style="padding-left: 0; padding-right: 0">
        <div *ngFor="let pilot of pilots; let i = index" class="card">
          <div class="card-header">
            <span>{{pilot.nickname}}</span>
            <span class="pull-right"><button [id]="'pilot.nickname' + i" (click)="removePilot(pilot)"
                                             class="btn btn-danger"><fa name="minus"></fa></button></span>
          </div>
          <form>
            <div class="form-group" style="padding-left: 5px;">
              <label [for]="'pilot.nickname' + i">Nickname</label>
              <input [(ngModel)]="pilot.nickname" [id]="'pilot.nickname' + i"
                     [name]="'pilot.nickname' + i"
                     class="form-control"
                     type="text">
            </div>

            <div class="form-group">
              <label [for]="'pilot.availableChannels' + i" style="padding-left: 5px;">Channels</label>

              <div *ngIf="activeBands()" class="accordion">

                <div *ngFor="let band of activeBands()" class="card">
                  <div class="card-header">
                    <span class="pull-left">
                      <button
                        (click)="subAccordion =  (subAccordion != ('pilot.availableChannels.' + i + '.' + band.id) ? 'pilot.availableChannels.' + i + '.' + band.id : null )"
                        class="btn btn-link"
                        type="button">
                        {{ (band.description || band.name) }}</button>
                    </span>
                    <span class="pull-right">

                      <button (click)="checkAll(pilot, band)"
                              [ngClass]="isAllChecked(pilot, band) ? 'btn btn-dark' : 'btn btn-light'"
                              class="btn btn-light"
                              type="button">
                        <fa [name]="isAllChecked(pilot, band) ? 'check-circle' : 'check-circle-o'"></fa>
                      </button>
                    </span>
                  </div>
                  <div [class.collapse]="subAccordion != 'pilot.availableChannels.' + i + '.' + band.id">
                    <div *ngIf="band.channels" class="btn-group btn-group-toggle flex-wrap d-flex">
                      <label
                        *ngFor="let channelSelection of channelSelectionForBand(pilotChannelSelection.get(pilot), band)"
                        class="btn-info w-50" ngbButtonLabel>
                        <input [(ngModel)]="channelSelection.selected"
                               [ngModelOptions]="{standalone: true}"
                               [value]="channelSelection.channel"
                               ngbButton
                               type="checkbox"> {{ channelSelection.channel.number + ' (' + channelSelection.channel.frequency + ')' }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="panel-results">
      <span>
        <button (click)="mainAccordion = 'results'" class="btn btn-link" type="button">
          Results
        </button>
      </span>
      <span class="pull-right">
        <button (click)="execute()" class="btn btn-warning" [disabled]="processing">
          <fa name="check"></fa>
        </button>
      </span>
    </div>
    <div [class.collapse]="mainAccordion != 'results'" id="collapseResults">


      <div *ngIf="recommendations">
        <div class="container bg-secondary text-light" style="padding-bottom: 50px">
          <div class="row">
            <div class="col">
              <span>Min ch separation:</span>
            </div>
            <div class="col-4">
              <span>{{recommendations[page - 1].result.minimumSeparationChannel}}MHz</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span>Min Ch-IMD separation:</span>
            </div>
            <div class="col-4">
              <span>{{recommendations[page - 1].result.minimumSeparationImd}}MHz</span>
            </div>
          </div>
          <!--<div class="row">-->
          <!--<div class="col">-->
          <!--<span>Channels:</span>-->
          <!--</div>-->
          <!--<div class="col-8 text-right">-->
          <!--<span>{{channels(recommendations[page -1].result.channels)}}</span>-->
          <!--</div>-->
          <!--</div>-->
          <div *ngFor="let pilot of recommendations[page - 1].pilots" class="row">
            <div class="col">
              <span>{{pilot.nickname}}</span>
            </div>
            <div class="col-6 text-right">
              <span>{{pilot.recommendedChannel.band.name}}{{pilot.recommendedChannel.number}}
                ({{pilot.recommendedChannel.frequency}}MHz)</span>
            </div>
          </div>
        </div>

        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="recommendations.length" [(page)]="page"
                        [pageSize]="1" [maxSize]="5" [rotate]="true"></ngb-pagination>
      </div>

    </div>
  </div>
</div>

<div class="container" [hidden]="!showHelp">

  <app-help></app-help>
</div>
